* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #5492CC;
}

#head {
    background: #003B6C;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    height: 100px;
}

#home {
    color: white;
    font-size: x-large;
}
img{
width: 100%;
}

#footer {
    background: #003B6C;
}