* {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: #5492CC;
}

#head {
    background: #003B6C;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    height: 150px;
}

#nav {
    margin-top: 15px;
}

#nav1 {
    margin-top: 30px;
}

#logo {
    width: 80%;
    margin: auto;
    margin-top: 5%;
    position: relative;
    top: -20px;
    left: 20px;
}

#log {
    margin-left: 160px;
}

#home {
    color: white;
    font-size: x-large;
}

#carrusel {
    width: 100%;
}

.carousel-inner {
    height: 600px;
}

.carousel-inner img {
    width: 100%;
    max-height: 600px;
}

#tex {
    background: #ffa554;
    border-radius: 25px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    text-align: center;
}

#texto {
    font-size: 1.3vw;
}

#cont {
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer {
    background: #003b6c;
}

#pie {
    padding-top: 26px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.card-header {
    background-color: #ffa554;
    color: beige;
    text-align: center;
    font-size: 25px;
    padding: 35px;
}

.card-body {
    background-color: #DDDDDD;
}

#titulo {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    background: #ffa554;
}

#busque {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#inbus {
    margin-top: 5px;
    background: rgb(255, 166, 88);
    width: 80%;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-top: 2px solid rgb(160, 160, 160);
    border-left: 2px solid rgb(160, 160, 160);
    border-right: 0px;
    border-bottom: 2px solid rgb(160, 160, 160);
    border-radius: 25px 0px 0px 25px;
}

#bobus {
    background: rgb(255, 166, 88);
    width: 20%;
    padding: 5px;
    border-top: 2px solid rgb(160, 160, 160);
    border-left: 0px;
    border-right: 2px solid rgb(160, 160, 160);
    border-bottom: 2px solid rgb(160, 160, 160);
    border-radius: 0px 25px 25px 0px;
}

#conten {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgb(221, 221, 221);
}

#boto {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15%;
    border-radius: 15px;
    background: rgb(255, 166, 88);
    border: 1px solid rgb(255, 166, 88);
}

#boto:hover {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15%;
    border-radius: 15px;
    background: rgb(255, 184, 122);
    border: 1px solid rgb(209, 136, 73);
}

#tablas {
    width: 100%;
}

#in {
    padding: 1px;
}

#inpu {
    background: rgb(255, 255, 255);
    width: 90%;
    margin: auto;
    padding: 2px;
    padding-left: 3px;
    height: 25px;
    font-size: 1vw;
    border-radius: 10px;
}

#impu {
    width: 100%;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
}

#impu1 {
    width: 100%;
    padding: 1px;
    border: 1px solid rgba(160, 160, 160, 0);
    text-align: right;
}

#boton {
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    background: rgb(255, 166, 88);
    border: 1px solid rgb(255, 166, 88);
}

#boton:hover {
    margin-top: 5px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    background: rgb(255, 184, 122);
    border: 1px solid rgb(209, 136, 73);
}

#dist {
    margin-top: 2px;
}

#centro {
    text-align: center;
}